# 忽略 node_modules 文件夹
.venv/

# 忽略临时文件
.env
.env*
insert_dialogues.sql
update_dialogues.sql
t.sql
test_*.py
.cache
.vscode/
# 忽略所有 .DS_Store 文件（macOS）
.DS_Store
test/
*.mp3
# 忽略 build 和 dist 文件夹
build/
dist/
hmr/
.lsp/
.clj-kondo/
logs/
# 忽略特定文件名
*.mp3
*.pyc
*.pcm
*.wav
*.pcm
test/
*copy.py


# 忽略例外文件（取消忽略）
!system1.3.json
